body {
    background-color: #f4f7f6;
}

.book {
    text-align: center;
    margin: 30px;
}

.book-cover {
    height: 500px;
    width: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 50%;*/
}
