* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*padding-top: 50%;*/
    font-size: 58px;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page01 {
    z-index: 10;
    background: url('img/1c.jpg');
}
.page02 {
    z-index: 16;
    background-image: url('img/2c.jpg');
}
.page03 {
    z-index: 15;
    background: url('img/3c.jpg');
}
.page04 {
    z-index: 14;
    background: url('img/4c.jpg');
}
.page05 {
    z-index: 13;
    background: url('img/5c.jpg');
}
.page06 {
    z-index: 12;
    background: url('img/6c.jpg');
}
