.wrapper {
    width: 400px;
    height: 300px;
    margin: 150px auto;
    background: #dedede;
    border: 1px solid transparent;
}
.message {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 30px;
}

.btn {
    display: block;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin: 30px auto;
    background: #f00;
    color: #ff0;
    font-size: 35px;
}

h1 {
    margin-top: 20px;
    text-align: center;
}
