*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(170, 100%, 50%));
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid black;
}

.clock:after {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5rem;
    --rotation: 0;
    -webkit-transform: rotate(var(--rotation));
            transform: rotate(var(--rotation));
}

.clock .number1 {--rotation: 30deg;}
.clock .number2 {--rotation: 60deg;}
.clock .number3 {--rotation: 90deg;}
.clock .number4 {--rotation: 120deg;}
.clock .number5 {--rotation: 150deg;}
.clock .number6 {--rotation: 180deg;}
.clock .number7 {--rotation: 210deg;}
.clock .number8 {--rotation: 240deg;}
.clock .number9 {--rotation: 270deg;}
.clock .number10 {--rotation: 300deg;}
.clock .number11 {--rotation: 330deg;}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    background-color: #000;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transform: translateX(-50%);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    --rotation: 0;
    -webkit-transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
            transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.second {
    width: .3rem;
    height: 45%;
    background-color: red;
}

.minute {
    width: .6rem;
    height: 40%;
    background-color: black;
}
.hour {
    width: 1rem;
    height: 35%;
    background-color: black;
}
