.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0, 0);
    transition:  background .2s ease-in;
    z-index: -1;
    opacity: 0;
}

.modal-window {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 5px;
    transform: translateY(-250px);
    background: #fff;
    transition:  transform .2s ease-in;
    z-index: -1;
    opacity: 0;
}
.smodal.active .modal-overlay,
.smodal.active .modal-window,
.smodal.closing .modal-overlay,
.smodal.closing .modal-window  {
    z-index: 999;
    opacity: 1;
}
.smodal.active .modal-overlay {
    background: rgba(0,0,0, .5);
}
.smodal.active .modal-window {
    transform: translateY(150px);
}
.smodal.closing .modal-overlay {
    background: rgba(0,0,0, 0);
}
.smodal.closing .modal-window {
    transform: translateY(-250px);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
    font-size: 1.5rem;
}

.modal-text {
    padding: 15px 0 0;
    text-align: center;
}

.modal-footer {
    border-top: 1px solid #eee;
    padding: 5px;
}
.modal-close {
    cursor: pointer;
}
.destroy {
    display: none;
}
